@{
    ViewData["Title"] = "Data Management";
}

<h1>Data Management</h1>

<h4>Import Data from json</h4>
@using (Html.BeginForm("Data", "Restaurants", FormMethod.Post))
{
    <form method="post">
        <!--<input type="file" name="file">-->
        <textarea name="dataraw" rows="10" cols="75"></textarea>
        <br>
        <input type="submit" class="btn btn-primary" value="Import data" accept="application/json">
    </form>
}
<hr/>
<h4>Export Data to json</h4>
<a class="btn btn-primary" asp-action="saveData">Export Data</a>
<hr/>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}