@model Grestau.Data.Model.Restaurant

@{
    ViewData["Title"] = "Data Management";
}

<h1>Data Management</h1>

<h4>Import Data from json</h4>
<form>
    <input type="file">
    <br>
    <input type="submit" class="btn btn-primary" value="Import data" accept="application/json">
</form>
<hr/>

<h4>Export to json</h4>
<button type="button" class="btn btn-primary">Export data</button>
<hr/>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}